html, body{
    height:150%
}




body{
    margin:0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #111111;
    color:#EAEAEA;
    accent-color: #FFD700;
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    

}

.header{
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FFD700;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.2);

}
.left,.right{
    display:flex;
    gap:25px;
    align-items: center;
    justify-content: center;
}
.small-image{
    height:48px;
    width:48px;
    border-radius:50%;
}
ul{
    margin:0;
    padding:0;
    display:flex;
    gap:40px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size:32px;
    font-weight:800;
    color:rebeccapurple;
    
}
a{
    text-decoration:none;
    color: rebeccapurple;
}
.start{
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     border:1px solid rebeccapurple;
    color:#111111;
    background-color: white;
}
.profile-image{
    background-color:rebeccapurple;
    width:50px;
    height:50px;
    border-radius:50%;
}
button{
    font-size:25px;
    background-color:;
    color: white;
    border-radius:8px;
    border:none;
    background-color:black;
}
.container{
    background-image:url(trainer.jpg);
    display:flex;
    height:600px;
    width:100%;
    object-fit:contain;
    background-size: cover;
}
.container2{
    display:flex;
    margin:0;

}
.container3{
    display:flex;
    gap:120px;

}
.header2{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:0px;
    margin-bottom: 0px;
    font-size:84px;
    font-weight:800;
    text-align: center;
    height:15px;
    color:white;
    height:350px;
    width:100%;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}
.poster{
    height:500px;
    width:500px;
    object-fit: contain;
    border-radius: 50%;

}
.poster2{
    height:700px;
    width:700px;
    object-fit: contain;
    border-radius: 30%;

}
.text{
    text-align: center;
    font-size: 32px;
    color:#FFD700;
}
.text3{
    display:flex;
    align-items: center;
    justify-content: center;
   margin:150px auto;
    text-align: center;
    font-size:62px;
    color:#FFD700;
    font-weight: 700;
}
.more{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:5px auto;
    border:2px solid #FFD700;
    border-radius:10px;
}
.more2{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0px auto;
    border:2px solid #FFD700;
    border-radius:10px;
}
.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    position: bottom;
    left:0;
    right:0;
    top:0;
    text-align: center;
    background-color: #FFD700;
    color:#111111;
    gap:10px;
}